# --- Compte Z1 n°1 (10 Go) ---
S3_BUCKET_1="mai-storage-1"
S3_ACCESS_KEY_ID_1="3ECZK64YISSECNVL4BOC"
S3_SECRET_ACCESS_KEY_1="95oCgC2RyZw33pUjrBZ6g4FAoHAaz2dA4wtl2P5G"
S3_ENDPOINT_1="https://s3.z1storage.com"
S3_REGION_1="auto"
S3_PUBLIC_URL_1="https://s3.z1storage.com/mai-storage-1"

# --- Compte Z1 n°2 (10 Go) ---
S3_BUCKET_2="mai-storage-2"
S3_ACCESS_KEY_ID_2="J2F8KD8KNAN5ADG3S225"
S3_SECRET_ACCESS_KEY_2="j2tc7wEWaGi2YyD1VbQxiDVmYn7EXRTRvMZgwOmU"
S3_ENDPOINT_2="https://s3.z1storage.com"
S3_REGION_2="auto"
S3_PUBLIC_URL_2="https://s3.z1storage.com/mai-storage-2"

# --- Compte Z1 n°3 (10 Go) ---
S3_BUCKET_3="mai-storage-3"
S3_ACCESS_KEY_ID_3="VN44WDNSAX7PKKX6DQFD"
S3_SECRET_ACCESS_KEY_3="ViB77nB15DlQhoeB1SUoK5bVs5waQePAvKcAD5aE"
S3_ENDPOINT_3="https://s3.z1storage.com"
S3_REGION_3="auto"
S3_PUBLIC_URL_3="https://s3.z1storage.com/mai-storage-3"

# --- Compte Z1 n°4 (10 Go) ---
S3_BUCKET_4="mai-storage-4"
S3_ACCESS_KEY_ID_4="JF2Y1M8HX3HBHZHCX6OB"
S3_SECRET_ACCESS_KEY_4="sq55FZjil4cWcHbzUpqyYanBBRmUfg8MLCGI2YRg"
S3_ENDPOINT_4="https://s3.z1storage.com"
S3_REGION_4="auto"
S3_PUBLIC_URL_4="https://s3.z1storage.com/mai-storage-4"

# --- Compte Z1 n°5 (10 Go) ---
S3_BUCKET_5="mai-storage-5"
S3_ACCESS_KEY_ID_5="9P4ZQ4PVCZAJCLQ2JBU1"
S3_SECRET_ACCESS_KEY_5="qvM2jhZPqROxqIlYKurtNPmi0v5wAGpxJCYqa7Pf"
S3_ENDPOINT_5="https://s3.z1storage.com"
S3_REGION_5="auto"
S3_PUBLIC_URL_5="https://s3.z1storage.com/mai-storage-5"